* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background-color: rgb(231, 191, 191);
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    background-color: white;
    width: 80vmin;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(38, 33, 61, 0.2);
    
}

.searcher {
    display: flex;
    justify-content: left;
}

.results {
    padding: 20px;
    margin-left: 20px;
}

#inpSearch {
    padding: 10px;
    margin: 20px;
    border: none;
    outline: none;
    width: 70%;
    text-decoration: overline;
    border-bottom: 2px solid #ae9cff;
}
.word h3 {
    font-size: 30px;
}

#loud-speaker {
    border: none;
}

#loud-speaker:hover {
    cursor: pointer;
}

.results {
    position: relative;
}

.word {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#search-btn {
    margin: 20px;
    border-radius: 10px;
    width: 90px;
    height: 50px;
    border: none;
    background-color: rgb(233, 191, 191);
    cursor: pointer;
}

#search-btn:hover {
    background-color: rgb(255, 178, 178);

}

.detalhes {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    font-size: 14px;
}

.significado {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(112, 112, 112);
}

.exemplo {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    font-style: italic;
    color: rgb(112, 112, 112);
    border-left: 5px solid rgb(233, 191, 191);
    padding-left: 20px;
}